name: build

on:
  push:
    branches:
      - main
      - '[0-9]+.[0-9]+.x'
    tags:
      - '**'
  pull_request:
  schedule:
    # run nightly to pick up any errors caused by changes in main geomesa
    - cron: '30 2 * * *' # 0230 UTC, 2130 EST

permissions:
  contents: read

env:
  MAVEN_CLI_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false --batch-mode
  MAVEN_TEST_OPTS: -Dtest.fork.count=1

jobs:
  build-scala:
    strategy:
      fail-fast: false
      matrix:
        version: [ "2.12", "2.13" ]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Set Scala version
        run: ./build/scripts/change-scala-version.sh ${{ matrix.version }}
      - name: Build with Maven
        run: mvn clean install $MAVEN_CLI_OPTS -DskipTests
      - name: Unit tests
        run: mvn surefire:test $MAVEN_CLI_OPTS $MAVEN_TEST_OPTS
      - name: Integration Tests
        run: mvn failsafe:integration-test failsafe:verify $MAVEN_CLI_OPTS $MAVEN_TEST_OPTS
      - name: Integration Tests (NiFi 1.x)
        run: mvn failsafe:integration-test failsafe:verify -Dtest.nifi.docker.tag=1.28.1 $MAVEN_CLI_OPTS $MAVEN_TEST_OPTS
      - name: Remove GeoMesa artifacts
        run: |
          rm -rf ~/.m2/repository/org/geomesa/nifi
