name: trivy-scan

on:
  push:
    branches:
      - main
      - '[0-9]+.[0-9]+.x'
    tags:
      - '**'
  pull_request:
  # run weekly to pick up any new CVEs
  schedule:
    - cron: '30 2 * * 1' # 0230 UTC, 2130 EST on Monday nights

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Build with Maven
        run: mvn clean install -B -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -DskipTests
      - name: Extract NARs
        run: >-
          for nar in $(find . -name '*.nar'); do
            mkdir -p "nars/$(basename $nar)"
            unzip -d "nars/$(basename $nar)" "$nar"
          done
      - name: Trivy rootfs scan
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          scan-type: 'rootfs'
          vuln-type: 'library'
          format: 'sarif'
          output: 'trivy-scan.sarif'
          scan-ref: './nars/'
      - name: Upload results
        uses: github/codeql-action/upload-sarif@f443b600d91635bebf5b0d9ebc620189c0d6fba5 # v4.30.8
        with:
          sarif_file: 'trivy-scan.sarif'
      - name: Remove GeoMesa artifacts from Maven cache
        run: |
          rm -rf ~/.m2/repository/org/geomesa/nifi
