name: trivy-scan

on:
  push:
    branches:
      - main
      - '[0-9]+.[0-9]+.x'
    tags:
      - '**'
  pull_request:
  # run weekly to pick up any new CVEs
  schedule:
    - cron: '30 2 * * 1' # 0230 UTC, 2130 EST on Monday nights

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Build with Maven
        run: mvn clean install -B -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -DskipTests
      - name: Extract NARs
        run: >-
          for nar in $(find . -name '*.nar'); do
            mkdir -p "nars/$(basename $nar)"
            unzip -d "nars/$(basename $nar)" "$nar"
          done
      - name: Trivy rootfs scan
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          scan-type: 'rootfs'
          vuln-type: 'library'
          format: 'sarif'
          output: 'trivy-scan.sarif'
          scan-ref: './nars/'
      - name: Upload results
        uses: github/codeql-action/upload-sarif@b20883b0cd1f46c72ae0ba6d1090936928f9fa30 # v4.32.0
        with:
          sarif_file: 'trivy-scan.sarif'
      - name: Remove GeoMesa artifacts from Maven cache
        run: |
          rm -rf ~/.m2/repository/org/geomesa/nifi
