name: trivy-scan

on:
  push:
    branches:
      - main
      - '[0-9]+.[0-9]+.x'
    tags:
      - '**'
  pull_request:
  # run weekly to pick up any new CVEs
  schedule:
    - cron: '30 2 * * 1' # 0230 UTC, 2130 EST on Monday nights

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Build with Maven
        run: mvn clean install -B -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -DskipTests
      - name: Extract NARs
        run: >-
          for nar in $(find . -name '*.nar'); do
            mkdir -p "nars/$(basename $nar)"
            unzip -d "nars/$(basename $nar)" "$nar"
          done
      - name: Trivy rootfs scan
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          scan-type: 'rootfs'
          vuln-type: 'library'
          format: 'sarif'
          output: 'trivy-scan.sarif'
          scan-ref: './nars/'
      - name: Upload results
        uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
        with:
          sarif_file: 'trivy-scan.sarif'
      - name: Remove GeoMesa artifacts from Maven cache
        run: |
          rm -rf ~/.m2/repository/org/geomesa/nifi
